<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>YtVideosV3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'YouTube API v3', '', class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Videos Statastics', root_path %></li>
    </ul>
  </div>
</div>

<%= yield %>

<div id="footer">
  <div class="container">
    <p class="text-muted">Created by <a href="http://radiant-wind.com" target="_blank">Rahul Patil</a></p>
  </div>
</div>
</body>
</html>

